*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100vw;
    min-height: 100vh;
    background: radial-gradient(  white, red);
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    background-color: rgba(29, 42, 47, 0.8);
    width: 100%;
    max-width: 375px;
    min-height: 640px;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.display{
    min-height: 100px;
    padding: 1rem;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    text-align: right;
    flex: 1 1 0%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
}



.display .input{
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    overflow: auto;
}

.display .output{
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.display .operator {
    color: #EB6666;
}

.display .brackets,
.display .percent{
    color: #25FED7;
}

.keys{
    background-color: #292D36;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 1rem;
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
}

.keys .key{
    position: relative;
    cursor: pointer;
    display: block;
    height: 0;
    padding-top: 100%;
    background-color: rgb(91, 86, 84);
    border-radius: 50%;
    transition: 0.2s;
    user-select: none;
}

.keys .key span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
}

.keys .key.operator span{
    color: #FFFFFF;
}

.keys .key.operator{
    background-color: #ff9f22;
}

.keys .key.action span{
    color: black;
}

.keys .key.action{
    background-color: rgba(255, 255, 255, 0.7);
}

.keys .key.deleteKey{
    background-color: #f5b3b3;
}

.keys .key.deleteKey span{
    color: rgb(232, 9, 9);
    font-size: 1.5rem;
}

.keys .key:hover{
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
}